/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
   
html,
body{
	background:url(../img/purty_wood.png);
	font-size: 16px;
	line-height: 24px;
}

p,
ol,
dl{
	margin-bottom: 12px;
	font-size: 15px;
	line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom: 12px;
}



/*
.container{
	background: #6d1f34;
	padding-left: 20px;
	padding-right: 20px;
}
*/



.menu-heading, 
.beermenu-heading{
	font-family: 'Fairview';
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	padding:24px;
	background-color: #661733; 
}

.menu-item,
.beermenu-item{
	border-top: 1px solid #000;
	position: relative;
	padding-top: 23px;
	margin-top: 24px;
}

.menu-list,
.beermenu-list{
	overflow: hidden;
	padding: 24px;
	background-color: #d3603d;
}   

.menu-item:first-child,
.beermenu-item:first-child{
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}


.dish-heading {
	width: 80%;
	margin-bottom:  0;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13.3px;
	line-height: 18px;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.dish-desc{
	width:80%;
	margin-bottom: 0;
	font-style: italic;
	font-size:13.3px;
	line-height: 18px;	
}
.dish-price{
	position: absolute;
	top: 23px;
	right: 18px;
	width: 10%;
	text-align: right;
}

.menu-item:first-child,
 .dish-price,xx
 .beermenu-item:first-child {
	top: 0;
}

   
/* ---------------------------------------Nav Object------------------------------------------- */
.nav{

	list-style: none;
}

.nav,
.nav > li{
	display: inline-block;
	padding:0;
	margin: 0;
}
.nav a {
	display: block;
	color: #661733;
	
}
.nav-location{
		font-family: 'Fairview';
}

.masthead{
	background:url(../img/vintage-parts_and_labor.jpg) no-repeat top left;
}
.masthead-brand a {
		display: block;
		width: 200px;
		height: 200px;
		overflow: hidden;
		background: url(../img/logo-parts_and_labor.gif) left top no-repeat;
		background-size: cover;
}
.masthead-brand a:before{
		content: '';
		display: block;
		width: 0;
		height: 150%;
}




.masthead-nav,
.masthead-social{
	text-align: right;
}
.masthead .masthead-nav{
	float: right;
	padding-top: 90px;
	margin-right: 0;
	font-family: 'Fairview', cursive;
	font-size: 32px;
}
.masthead .masthead-social{
		float: none;
		position: absolute;
		top:0px;
		right:0;
}
.masthead-social a{
	display: block;
	width: 32px;
	height: 32px;
	background-image:url(../img/sprites.png);
	background-repeat: no-repeat;	
}
.social-twitter{
		background-position: -96px 0;
}

.social-instagram{
		background-position: -48px 0;
}
.social-facebook{
		background-image: url(../img/facebook.png);
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
